rom_orig/
rom_orig.cxi
rom/romfs/Course/dlc/
rom/romfs/Course/1-4.sarc
rom/romfs/Course/1-5.sarc
rom/romfs/Course/1-6.sarc
rom/romfs/Course/1-7.sarc
rom/romfs/Course/1-8.sarc
rom/romfs/Course/1-9.sarc
rom/romfs/Course/1-10.sarc
rom/romfs/Course/1-12.sarc
rom/romfs/Course/1-14.sarc
rom/romfs/Course/1-16.sarc
rom/romfs/Course/1-18.sarc
rom/romfs/Course/1-19.sarc
rom/romfs/Course/1-20.sarc
rom/romfs/Course/1-21.sarc
rom/romfs/Course/1-22.sarc
rom/romfs/Course/1-23.sarc
rom/romfs/Course/1-24.sarc
rom/romfs/Course/1-29.sarc
rom/romfs/Course/2-1.sarc
rom/romfs/Course/2-2.sarc
rom/romfs/Course/2-3.sarc
rom/romfs/Course/2-4.sarc
rom/romfs/Course/2-5.sarc
rom/romfs/Course/2-6.sarc
rom/romfs/Course/2-7.sarc
rom/romfs/Course/2-8.sarc
rom/romfs/Course/2-9.sarc
rom/romfs/Course/2-10.sarc
rom/romfs/Course/2-12.sarc
rom/romfs/Course/2-14.sarc
rom/romfs/Course/2-16.sarc
rom/romfs/Course/2-18.sarc
rom/romfs/Course/2-19.sarc
rom/romfs/Course/2-20.sarc
rom/romfs/Course/2-21.sarc
rom/romfs/Course/2-22.sarc
rom/romfs/Course/2-23.sarc
rom/romfs/Course/2-24.sarc
rom/romfs/Course/2-29.sarc
rom/romfs/Course/3-1.sarc
rom/romfs/Course/3-2.sarc
rom/romfs/Course/3-3.sarc
rom/romfs/Course/3-4.sarc
rom/romfs/Course/3-5.sarc
rom/romfs/Course/3-6.sarc
rom/romfs/Course/3-7.sarc
rom/romfs/Course/3-8.sarc
rom/romfs/Course/3-9.sarc
rom/romfs/Course/3-10.sarc
rom/romfs/Course/3-12.sarc
rom/romfs/Course/3-14.sarc
rom/romfs/Course/3-16.sarc
rom/romfs/Course/3-18.sarc
rom/romfs/Course/3-19.sarc
rom/romfs/Course/3-20.sarc
rom/romfs/Course/3-21.sarc
rom/romfs/Course/3-22.sarc
rom/romfs/Course/3-23.sarc
rom/romfs/Course/3-24.sarc
rom/romfs/Course/3-29.sarc
rom/romfs/Course/4-1.sarc
rom/romfs/Course/4-2.sarc
rom/romfs/Course/4-3.sarc
rom/romfs/Course/4-4.sarc
rom/romfs/Course/4-5.sarc
rom/romfs/Course/4-6.sarc
rom/romfs/Course/4-7.sarc
rom/romfs/Course/4-8.sarc
rom/romfs/Course/4-9.sarc
rom/romfs/Course/4-10.sarc
rom/romfs/Course/4-12.sarc
rom/romfs/Course/4-14.sarc
rom/romfs/Course/4-16.sarc
rom/romfs/Course/4-18.sarc
rom/romfs/Course/4-19.sarc
rom/romfs/Course/4-20.sarc
rom/romfs/Course/4-21.sarc
rom/romfs/Course/4-22.sarc
rom/romfs/Course/4-23.sarc
rom/romfs/Course/4-24.sarc
rom/romfs/Course/4-29.sarc
rom/romfs/Course/5-1.sarc
rom/romfs/Course/5-2.sarc
rom/romfs/Course/5-3.sarc
rom/romfs/Course/5-4.sarc
rom/romfs/Course/5-5.sarc
rom/romfs/Course/5-6.sarc
rom/romfs/Course/5-7.sarc
rom/romfs/Course/5-8.sarc
rom/romfs/Course/5-9.sarc
rom/romfs/Course/5-10.sarc
rom/romfs/Course/5-12.sarc
rom/romfs/Course/5-14.sarc
rom/romfs/Course/5-16.sarc
rom/romfs/Course/5-18.sarc
rom/romfs/Course/5-19.sarc
rom/romfs/Course/5-20.sarc
rom/romfs/Course/5-21.sarc
rom/romfs/Course/5-22.sarc
rom/romfs/Course/5-23.sarc
rom/romfs/Course/5-24.sarc
rom/romfs/Course/5-29.sarc
rom/romfs/Course/6-1.sarc
rom/romfs/Course/6-2.sarc
rom/romfs/Course/6-3.sarc
rom/romfs/Course/6-4.sarc
rom/romfs/Course/6-5.sarc
rom/romfs/Course/6-6.sarc
rom/romfs/Course/6-7.sarc
rom/romfs/Course/6-8.sarc
rom/romfs/Course/6-9.sarc
rom/romfs/Course/6-10.sarc
rom/romfs/Course/6-12.sarc
rom/romfs/Course/6-14.sarc
rom/romfs/Course/6-16.sarc
rom/romfs/Course/6-18.sarc
rom/romfs/Course/6-19.sarc
rom/romfs/Course/6-20.sarc
rom/romfs/Course/6-21.sarc
rom/romfs/Course/6-22.sarc
rom/romfs/Course/6-23.sarc
rom/romfs/Course/6-24.sarc
rom/romfs/Course/6-27.sarc
rom/romfs/Course/6-29.sarc
rom/romfs/Course/7-1.sarc
rom/romfs/Course/7-2.sarc
rom/romfs/Course/7-3.sarc
rom/romfs/Course/7-4.sarc
rom/romfs/Course/7-5.sarc
rom/romfs/Course/7-6.sarc
rom/romfs/Course/7-7.sarc
rom/romfs/Course/7-8.sarc
rom/romfs/Course/7-9.sarc
rom/romfs/Course/7-10.sarc
rom/romfs/Course/7-12.sarc
rom/romfs/Course/7-14.sarc
rom/romfs/Course/7-16.sarc
rom/romfs/Course/7-18.sarc
rom/romfs/Course/7-19.sarc
rom/romfs/Course/7-20.sarc
rom/romfs/Course/7-21.sarc
rom/romfs/Course/7-22.sarc
rom/romfs/Course/7-23.sarc
rom/romfs/Course/7-24.sarc
rom/romfs/Course/7-29.sarc
rom/romfs/Course/8-1.sarc
rom/romfs/Course/8-2.sarc
rom/romfs/Course/8-3.sarc
rom/romfs/Course/8-4.sarc
rom/romfs/Course/8-5.sarc
rom/romfs/Course/8-6.sarc
rom/romfs/Course/8-7.sarc
rom/romfs/Course/8-8.sarc
rom/romfs/Course/8-9.sarc
rom/romfs/Course/8-10.sarc
rom/romfs/Course/8-12.sarc
rom/romfs/Course/8-14.sarc
rom/romfs/Course/8-16.sarc
rom/romfs/Course/8-18.sarc
rom/romfs/Course/8-19.sarc
rom/romfs/Course/8-20.sarc
rom/romfs/Course/8-21.sarc
rom/romfs/Course/8-22.sarc
rom/romfs/Course/8-23.sarc
rom/romfs/Course/8-24.sarc
rom/romfs/Course/8-29.sarc
rom/romfs/Course/9-1.sarc
rom/romfs/Course/9-2.sarc
rom/romfs/Course/9-3.sarc
rom/romfs/Course/9-4.sarc
rom/romfs/Course/9-5.sarc
rom/romfs/Course/9-6.sarc
rom/romfs/Course/9-7.sarc
rom/romfs/Course/9-8.sarc
rom/romfs/Course/9-9.sarc
rom/romfs/Course/9-10.sarc
rom/romfs/Course/9-16.sarc
rom/romfs/Course/9-18.sarc
rom/romfs/Course/9-29.sarc
rom/romfs/CourseSelect/
rom/romfs/DefaultContents/
rom/romfs/Demo/
rom/romfs/Effect/
rom/romfs/Font/
rom/romfs/Icon/
rom/romfs/Layout/
rom/romfs/Message/
rom/romfs/Model/
rom/romfs/Net/
rom/romfs/Shader/
rom/romfs/Sound/
rom/romfs/Unit/J_Chika.sarc
rom/romfs/Unit/J_Gold.sarc
rom/romfs/Unit/J_Kihon.sarc
rom/romfs/Unit/J_Kihon_Test.sarc
rom/romfs/Unit/J_Setsugen.sarc
rom/romfs/Unit/J_Suichu.sarc
rom/romfs/Unit/J_Yougan.sarc
rom/romfs/Unit/M_Chika.sarc
rom/romfs/Unit/M_Gake.sarc
rom/romfs/Unit/M_Gake_Setsugen.sarc
rom/romfs/Unit/M_Jungle.sarc
rom/romfs/Unit/M_Kaigan.sarc
rom/romfs/Unit/M_Kaigan_Obake.sarc
rom/romfs/Unit/M_Kazan.sarc
rom/romfs/Unit/M_Kinopio_Normal.sarc
rom/romfs/Unit/M_Koopa.sarc
rom/romfs/Unit/M_Nohara.sarc
rom/romfs/Unit/M_Nohara2.sarc
rom/romfs/Unit/M_Nohara_BigTree.sarc
rom/romfs/Unit/M_Nohara_Onpu.sarc
rom/romfs/Unit/M_Obake.sarc
rom/romfs/Unit/M_Obake_Soto.sarc
rom/romfs/Unit/M_Rainbow.sarc
rom/romfs/Unit/M_Sabaku.sarc
rom/romfs/Unit/M_Sabaku_Chika.sarc
rom/romfs/Unit/M_Setsugen.sarc
rom/romfs/Unit/M_Shiro.sarc
rom/romfs/Unit/M_Shiro_Boss.sarc
rom/romfs/Unit/M_Shiro_Yogan.sarc
rom/romfs/Unit/M_SkyTower.sarc
rom/romfs/Unit/M_Sora.sarc
rom/romfs/Unit/M_Suichu.sarc
rom/romfs/Unit/M_Toride.sarc
rom/romfs/Unit/M_Toride_Blue.sarc
rom/romfs/Unit/M_Toride_Red.sarc
rom/romfs/Unit/M_Totempole.sarc
rom/romfs/Unit/M_WarpZone.sarc
rom/romfs/Unit/S1_Iseki.sarc
rom/romfs/Unit/S1_Kanaami.sarc
rom/romfs/Unit/S1_Kinoko.sarc
rom/romfs/Unit/S1_Kinoko_Snow.sarc
rom/romfs/Unit/S1_Kori.sarc
rom/romfs/Unit/S1_Obake_Room.sarc
rom/romfs/Unit/S1_Obake_Soto.sarc
rom/romfs/Unit/S1_Rail_Black.sarc
rom/romfs/Unit/S1_Rail_Gray.sarc
rom/romfs/Unit/S1_Rail_Gray_Mae.sarc
rom/romfs/Unit/S1_Rail_White.sarc
rom/romfs/Unit/S1_Sabaku.sarc
rom/romfs/Unit/S1_SkyTower.sarc
rom/romfs/Unit/S1_Suichu.sarc
rom/romfs/Unit/S1_Toride.sarc
rom/romfs/Unit/S2_Assist.sarc
rom/romfs/Unit/S2_Kanaami.sarc
rom/romfs/Unit/S2_Kinoko_variation.sarc
rom/romfs/Unit/S2_Obake_Room.sarc
rom/romfs/Unit/S2_Obake_Soto.sarc
rom/romfs/Unit/S2_Rail_Black.sarc
rom/romfs/Unit/S2_Rail_Gray.sarc
rom/romfs/Unit/S2_Rail_White.sarc
rom/romfs/Unit/S2_Sabaku.sarc
